@font-face {
    font-family: 'Lato Regular';
    src: url(fonts/Lato-Regular.ttf);
}

body {
    color: #94a3b8;
    background-color: #090d15;
    font-family: 'Lato Regular', sans-serif;
    font-style: normal;
    font-weight: 300;
}

a:link, a:visited {
    color: cornflowerblue;
    text-decoration: none;
}

a:hover, a:active {
    color: #92b4f2;

}

/* Media Query für Mobilgeräte (bis ca. 768px) */
@media screen and (max-width: 768px) {
    /* Das Haupt-Container Element des Toasts */
    .p-toast {
        width: auto !important; /* Verhindert 100% Breite */
        left: auto !important;  /* Hebt die Links-Verankerung auf */
        right: 20px !important; /* Abstand vom rechten Rand */
        top: 20px !important;   /* Abstand von oben */
        min-width: 250px;       /* Optionale Mindestbreite */
        max-width: 90vw;        /* Verhindert, dass er über den linken Rand hinausragt */
    }

    /* Die eigentliche Nachricht im Toast */
    .p-toast-message {
        margin-bottom: 10px;    /* Abstand zwischen mehreren Meldungen */
    }
}
